<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <!--    <parent>-->
    <!--        <groupId>org.springframework.boot</groupId>-->
    <!--        <artifactId>spring-boot-starter-parent</artifactId>-->
    <!--        <version>2.7.9</version>-->
    <!--        <relativePath/> &lt;!&ndash; lookup parent from repository &ndash;&gt;-->
    <!--    </parent>-->
    <parent>
        <groupId>top.tanmw</groupId>
        <artifactId>efficient-boot</artifactId>
        <version>1.0.2</version>
    </parent>
    <groupId>org.example</groupId>
    <artifactId>demo</artifactId>
    <version>0.0.1-SNAPSHOT</version>
    <packaging>jar</packaging>

    <properties>
        <java.version>8</java.version>
        <start-class>com.example.demo.DemoApplication</start-class>
    </properties>

    <dependencies>

        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-web</artifactId>
        </dependency>
        <dependency>
            <groupId>com.baomidou</groupId>
            <artifactId>mybatis-plus-boot-starter</artifactId>
        </dependency>
        <dependency>
            <groupId>com.baomidou</groupId>
            <artifactId>mybatis-plus-core</artifactId>
        </dependency>
        <dependency>
            <groupId>com.baomidou</groupId>
            <artifactId>mybatis-plus-annotation</artifactId>
        </dependency>
        <dependency>
            <groupId>com.baomidou</groupId>
            <artifactId>mybatis-plus-extension</artifactId>
        </dependency>


        <!-- 政务钉 -->
        <dependency>
            <groupId>com.alibaba</groupId>
            <artifactId>zwdd-sdk-java</artifactId>
            <version>1.2.0</version>
            <scope>system</scope>
            <systemPath>${basedir}/lib/zwdd-sdk-java-1.2.0.jar</systemPath>
        </dependency>
        <!-- 愉快政 SDK -->
        <dependency>
            <groupId>com.zenith.ykz</groupId>
            <artifactId>ykz-sdk</artifactId>
            <version>2.0.2</version>
            <scope>system</scope>
            <systemPath>${project.basedir}/lib/ykz-sdk-2.0.2.jar</systemPath>
        </dependency>
        <!--  用户中心对接SDK      -->
        <dependency>
            <groupId>com.dcqc</groupId>
            <artifactId>dcqc-uc-oauth-sdk</artifactId>
            <version>3.0.0-RELEASE</version>
            <scope>system</scope>
            <systemPath>${project.basedir}/lib/dcqc-uc-oauth-sdk-3.0.0-RELEASE.jar</systemPath>
        </dependency>
        <dependency>
            <groupId>dm</groupId>
            <artifactId>Dm18</artifactId>
            <version>18</version>
            <scope>system</scope>
            <systemPath>${project.basedir}/lib/Dm7JdbcDriver18.jar</systemPath>
        </dependency>

        <dependency>
            <groupId>top.tanmw</groupId>
            <artifactId>efficient-boot-logs-start</artifactId>
        </dependency>
        <dependency>
            <groupId>top.tanmw</groupId>
            <artifactId>efficient-boot-ykz-start</artifactId>
        </dependency>
        <dependency>
            <groupId>top.tanmw</groupId>
            <artifactId>efficient-boot-common</artifactId>
        </dependency>
        <dependency>
            <groupId>top.tanmw</groupId>
            <artifactId>efficient-boot-cache-start</artifactId>
        </dependency>
        <dependency>
            <groupId>top.tanmw</groupId>
            <artifactId>efficient-boot-file-start</artifactId>
        </dependency>
        <dependency>
            <groupId>top.tanmw</groupId>
            <artifactId>efficient-boot-configs-start</artifactId>
        </dependency>
        <dependency>
            <groupId>top.tanmw</groupId>
            <artifactId>efficient-boot-system-start</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-autoconfigure</artifactId>
        </dependency>
        <dependency>
            <groupId>org.mapstruct</groupId>
            <artifactId>mapstruct</artifactId>
        </dependency>
        <dependency>
            <groupId>org.mapstruct</groupId>
            <artifactId>mapstruct-processor</artifactId>
        </dependency>
        <dependency>
            <groupId>top.tanmw</groupId>
            <artifactId>efficient-boot-auth-start</artifactId>
        </dependency>
        <dependency>
            <groupId>org.postgresql</groupId>
            <artifactId>postgresql</artifactId>
            <scope>runtime</scope>
        </dependency>
        <dependency>
            <groupId>com.kingbase</groupId>
            <artifactId>kingbase8</artifactId>
            <version>8.2.0</version>
        </dependency>
    </dependencies>

    <profiles>
        <profile>
            <id>local</id>
            <properties>
                <env>local</env>
            </properties>
            <!-- 是否默认 true表示默认-->
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
        </profile>
        <profile>
            <id>dev</id>
            <properties>
                <env>dev</env>
            </properties>
        </profile>
        <profile>
            <id>test</id>
            <properties>
                <env>test</env>
            </properties>
        </profile>
    </profiles>
    <!-- 编译打包 -->
    <!-- 编译打包 -->
    <build>
        <finalName>${project.name}-${project.version}</finalName>
        <resources>
            <resource>
                <directory>src/main/resources</directory>
                <!--                <filtering>true</filtering>-->
                <excludes>
                    <exclude>static/**</exclude>
                    <exclude>templates/**</exclude>
                    <exclude>**/*.xml</exclude>
                    <exclude>**/*.yml</exclude>
                    <exclude>**/*.properties</exclude>
                    <exclude>**/*.xls</exclude>
                    <exclude>**/*.xlsx</exclude>
                    <exclude>**/*.xlsm</exclude>
                    <exclude>**/*.doc</exclude>
                    <exclude>**/*.docx</exclude>
                    <exclude>*.cer</exclude>
                </excludes>
            </resource>
            <resource>
                <directory>src/main/resources</directory>
                <!--                <filtering>false</filtering>-->
                <includes>
                    <include>mapper/*.*</include>
                    <include>*.cer</include>
                </includes>
            </resource>
        </resources>


        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
                <version>${spring-boot.version}</version>
                <configuration>
                    <finalName>demo-${project.version}</finalName>
                    <!--本地依赖jar文件打进部署包-->
                    <includeSystemScope>true</includeSystemScope>
                    <jvmArguments>-Dfile.encoding=UTF-8</jvmArguments>
                    <mainClass>com.example.demo.DemoApplication</mainClass>
                    <includeSystemScope>true</includeSystemScope>
                    <!-- 禁用将资源文件打包进 JAR 文件 -->
<!--                    <addResources>false</addResources>-->
                </configuration>
                <executions>
                    <execution>
                        <goals>
                            <goal>repackage</goal><!--可以把依赖的包都打包到生成的Jar包中-->
                        </goals>
                    </execution>
                </executions>
            </plugin>
            <!-- 复制项目的配置文件和其他静态资源到指定目录 -->
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-resources-plugin</artifactId>
                <executions>
                    <execution>
                        <!-- 自定义 -->
                        <id>copy-resources</id>
                        <phase>package</phase>
                        <goals>
                            <!-- 复制静态资源 -->
                            <goal>copy-resources</goal>
                        </goals>
                        <configuration>
                            <useDefaultDelimiters>false</useDefaultDelimiters>
                            <resources>
                                <resource>
                                    <!-- 指定静态资源的路径 -->
                                    <directory>src/main/resources</directory>
                                    <!--                                    &lt;!&ndash; 处理文件时替换文件中的变量 &ndash;&gt;-->
                                    <filtering>true</filtering>
                                    <!-- 指定需要复制的文件 -->
                                    <includes>
                                        <include>application.yml</include>
                                    </includes>
                                </resource>
                                <resource>
                                    <!-- 指定静态资源的路径 -->
                                    <directory>src/main/resources</directory>
                                    <filtering>false</filtering>
                                    <!-- 指定需要复制的文件 -->
                                    <includes>
                                        <include>application-${env}.yml</include>
                                        <include>*.xml</include>
                                        <include>*.jks</include>
                                        <include>*.properties</include>
                                        <include>public/**</include>
                                        <include>static/**</include>
                                        <include>templates/**</include>
                                        <include>fonts/**</include>
                                        <include>xsd/**</include>
                                        <include>*.cer</include>
                                    </includes>
<!--                                    <excludes>-->
<!--                                        <exclude>static/**</exclude>-->
<!--                                        <exclude>templates/**</exclude>-->
<!--                                        <exclude>**/*.xml</exclude>-->
<!--                                        <exclude>**/*.yml</exclude>-->
<!--                                        <exclude>**/*.properties</exclude>-->
<!--                                        <exclude>**/*.xls</exclude>-->
<!--                                        <exclude>**/*.xlsx</exclude>-->
<!--                                        <exclude>**/*.xlsm</exclude>-->
<!--                                        <exclude>**/*.doc</exclude>-->
<!--                                        <exclude>**/*.docx</exclude>-->
<!--                                    </excludes>-->

                                </resource>
                            </resources>
                            <!-- 指定复制到该目录下 -->
                            <outputDirectory>${project.build.directory}/config</outputDirectory>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>


    <repositories>
        <repository>
            <id>maven-public</id>
            <name>maven-public</name>
            <!--            <url>https://repo.maven.apache.org/maven2/</url>-->
            <url>https://s01.oss.sonatype.org/content/repositories/releases/</url>
            <layout>default</layout>
            <releases>
                <enabled>true</enabled>
            </releases>
            <snapshots>
                <enabled>true</enabled>
            </snapshots>
        </repository>
        <repository>
            <id>alimaven</id>
            <name>aliyun maven</name>
            <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
        </repository>
    </repositories>
</project>
